<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOO_Telecom_Neva_Svyaz.Properties.Settings.ws02ConnectionString"
            connectionString="Data Source=WORLDSKILLS-ITB\SQLEXPRESS;Initial Catalog=ws02;User ID=ws02;Password=2/G%raq№"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>